body {
    margin: 0;
    font-family: 'Open Sans Condensed', sans-serif;

    font-size: 18px;
    line-height: 1.6;
    color: #333;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}


/* Container */
.container {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
}


/*Header*/
.header {
    width: 100%;
    height: 125px;
    
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: white;
    box-shadow: 2px 4px 20px rgba(34,90,89,0.2);
}

.logo 
{
    padding-top: 12px;
    padding-bottom: 12px;
    width: 308px;
    height: 105px;
}


.header_inner
{
    height: 125px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/*Nav menu*/
.nav {
    
}

.nav_link {
    display: inline-block;
    vertical-align: top;
    position: relative;
    color: black;
    
    text-decoration: none;
    transition: background-color .1s linear;
    padding-bottom: 50px;
    padding-top: 45px;
    padding-left: 10px;
    padding-right: 10px;
}

.nav_link:after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;

    background-color: #9b204c;
    opacity: 0;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

    transition: opacity .1s linear;
}   

.nav_link:hover {
    background-color: #fcfcfc;
}

.nav_link:hover:after {
    opacity: 1;
}


/* Portfolio */

.portfolio {
    width: 100%;
    height: 87%;
    position: absolute;
    
    top: 125px;
}

.portfolio_inner {
    justify-content: space-between;
    align-items: center;
}

.chose_game {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}

.gtacrmp {
    background: url(gtacrmp_hover.jpg);
    width: 50%;
    height: 844px;
    
    transition: background .3s linear;
    
}

.gtacrmp img {
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
}

.gtacrmp img:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.gtav {
    background: url(gtav_hover.jpg);
    width: 50%;
    height: 844px;
    
    transition: background .3s linear;
}

.gtav img {
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
}

.gtav img:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.gtav_logo {
    width: 450px;
}

.gtacrmp_logo {
    width: 450px;
}

.ch_but {
    text-decoration: none;
    font-size: 90px;
    position: relative;
    top: 25%;
    padding-left: 30%;
    
    
}

    @-webkit-keyframes flash {
        0%, 25%,  50%, 75%, 100% { opacity: 1; }
        25%, 75% { opacity: 0; }
    }
    @keyframes flash {
        0%, 25%, 50%, 75%, 100% { opacity: 1; }
        25%, 75% { opacity: 0; }
    }

.ch_but:hover {
    opacity: 1;
    -webkit-animation: flash 4s;
    animation: flash 4s;
}